

@media  screen and (max-width: 1800px) {
    body {
      background-color: lightblue;
      width: 85%;
      margin: 0 auto;
      border: 1px solid black;
    }
  }
  @media  screen and (max-width: 1200px) {
    body {
      background-color: rgb(183, 34, 42);
      width: 85%;
      margin: 0 auto;
      border: 1px solid black;
    }
  }
          
          @media  screen and (max-width: 600px) {
    body {
      background-color: rgb(47, 19, 152);
      width: 85%;
      margin: 0 auto;
      border: 1px solid black;
    }
  }
  
          header {
              background-color: rgb(57, 149, 177);
              width: 30%;
              text-align: center;
              margin-left: 35%;
              background-image: url("./Trabajo-Trimestre/Imagenes-para-trabajo/Central-de-pagina/juegoGrande.jpg");
              background-size: 100%;
              background-repeat: no-repeat;
            
          }
  
          div#intermedio {
              display: flex;
              justify-content: space-around;
              
          }
  
          nav {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              text-align: center;
              
              
           }
           div#nintendo {
              background-image: url("./Trabajo-Trimestre/Imagenes-para-trabajo/nintendo/pexels-pixabay-163077.jpg");
              background-size: 100%;
              background-repeat: no-repeat;
              
           }
            div#xbox {
              background-image: url("./Trabajo-Trimestre/Imagenes-para-trabajo/xbox/mandoXbox2.jpg");
              background-size: 100%;
              background-repeat: no-repeat;
              
            }
            div#playstation{
              background-image: url("./Trabajo-Trimestre/Imagenes-para-trabajo/playstation/pexels-polina-tankilevitch-4523000.jpg");
              background-size: 100%;
              background-repeat: no-repeat;
            }
          aside {
              
              display: flex;
              flex-direction: column;
              align-items: flex-end;
             background-image: url("./Trabajo-Trimestre/Imagenes-para-trabajo/aside/Jugadora.jpg");
             background-size: 132%;
             background-repeat: no-repeat;
             margin-top: 3%;
          }
  
          div#imagen {
              margin-right: 15%;
          }
  
          section#info{
              
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 3%;
  
          }
          div#arriba{
            border: 1px solid black;
            background-color: red;
          }
          div#arribasecundario{
            background-color: white;
          }
          div#medio{
            border: 1px solid black;
            background-color: blue;
          }
          div#mediosecundario{
            background-color: white;
          }
          div#abajo{
            border: 1px solid black;
            background-color: green;
          }
          div#abajosecundario{
            background-color: white;
          }
          li#winner::before{
            content: "Winner: ";
            color: rgb(200, 200, 1);
          }
          ul li::marker {
            color: red;
          }
          section#columna{
              border: 1px solid red;
              background-color: grey;
             padding-left: 3%; 
             padding-right: 3%;
             margin-top: 3%;
  
          }
          
          div#texto::first-letter{
                  font-size: 40px;
                  
              }
              div#texto{
                  background-color: brown;
              }
          section#columna:active{
                  zoom:120%;
              }
          h1{
              color: yellow;
          }
          h2#nintendo{
              color: red;
              
          }
          h2#playstation{
              color: blue;
          }
          h2#xbox{
              color: green;
          }
          h3#jugadora{
              color: white
          }
          ul#jugadora{
              color: white
          }
  
          p:hover{
              background-color: yellow;  
          }
          div#invisible{
                  display:none;
          }
          #invisible:target{
                  display: block;
          }